---
layout: default
---

<h1>Rahul Srivathsa</h1>

<h2>About Me</h2>
<p> I grew up in Bangalore, India and moved to the US in 2010. I've worked in tech for 10+ years as a PM at companies like Tripadvisor and iAsk.ai.</p>

<p> I'm based in Chicago and I enjoy cycling, skiing, yoga, live music, films, and possibly mountain biking very soon.</p>

<h2>Projects</h2>
<p>I've started building in my spare time as a new hobby. A few recent projects:</p>

<div class="project-item">
    <div class="project-title"><a href="projects/nutritionist.html">NutrionistGPT [in progress]</a></div>
    <div class="project-description">Built a chatbot based on my health data to be a personal nutritionist to help me make better eating choices. Built this to learn the basics of building simple apps with AI integrations.</div>
</div>

<div class="project-item">
    <div class="project-title"><a href="projects/chatbot.html">RahulBot</a></div>
    <div class="project-description">A chatbot built on top of many years of journal entries that can answer questions from a wiser version of myself. Building this to learn about search, RAG, and conversational interfaces.</div>
</div>

<div class="project-item">
    <div class="project-title">Workout Tracker [coming soon]</a></div>
    <div class="project-description">Personal fitness tracker for my workouts.</div>
</div>

<div class="project-item">
    <div class="project-title">Friendship Manager [coming soon]</a></div>
    <div class="project-description">App to help me better manage my friendships by staying in touch with folks more regularly.</div>
</div>

<div class="project-item">
    <div class="project-title">Borrough v2 [coming soon]</a></div>
    <div class="project-description">Re-building Borrough, a peer-to-peer rental marketplace for household items. I co-founded this a couple of years ago but sunset the business in 2024. Re-thinking the idea from ground up based on our learnings.</div>
</div>

{% assign thoughts = site.thoughts | sort: 'date' | reverse %}
{% if thoughts.size > 0 %}
<h2>Thoughts</h2>
<p>I sometimes write about ideas I've explored and things I've learned; a few are listed below:</p>

<ul>
    {% for post in thoughts %}
    <li class="blog-item">
        <a href="{{ post.url }}">{{ post.title }}</a> <span class="blog-date">({{ post.date | date: "%B %Y" }})</span>
    </li>
    {% endfor %}
</ul>
{% endif %}

<h2>Interests</h2>
<p>This is an incomplete list of topics I'm exploring and reading about</p>
<ul>
    <li>Reading Prediction Machines by Ajay Aggarwal</li>
    <li>Listening to Awareness by Anthony DeMello</li>
    <li>Listening to Philosophize This! by Stephen West (Aristotle pt 2)</li>
    <li>Trying out the Essentialism planner by Greg McKeown</li>
    <li>Watching Andrej Karpathy's intro to LLMs video</li>
</ul>

<h2>Contact</h2>
<p>Email me <a href="rahul.srivathsa@gmail.com">here</a>.</p>

<div class="last-updated">
    Last updated: {{ site.time | date: "%B %Y" }}
</div>